@font-face {
    font-family: DigitalSeven;
    src: url(/fonts/digital-7-mono.woff2);
}

@font-face {
    font-family: ValeraRound;
    src: url(/fonts/varela-round.woff2);
}

button {
    width: 60px;
    aspect-ratio: 1/1;
    font-family: ValeraRound;
    font-size:x-large;
}

img {
    width: 32px;
    height: auto;
}

body {
    background-color: #E7647A;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 16px;
    max-width: 284px;
    justify-content: center;
    background-color: #3B3E3D;
}

.model {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    background-color: #3B3E3D;
    color: #E2DED8;
}

.interface {
    display: flex;
    flex-direction: column;
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case {
    padding: 90px 0px 24px 0px;
    background-color: #FEEDD0;
    max-width: 342px;
    border-radius: 16px 16px 8px 8px;
}

.bezel {
    background-color: #3B3E3D;
    display: flex;
    max-width: 284px;
    padding: 8px 16px;
    align-items: center;
    border: #150F0F 1px solid;
}

.recessed-bezel {
    max-width: 316px;
    padding: 0px 16px;
    height: 32px;
    background-color: #150F0F;
}

.logo {
    margin-left: 52px;
    margin-right: auto;
}

.screen {
    background-color: #3A2A2E;
    color: #AF0C25;
    width: 244px;
    flex: 1 1 0;
    padding: 12px 36px;
    border-radius: 32px 32px 0px 0px;
    font-family: DigitalSeven;
    font-size: 36px;
    letter-spacing: 8px;
    text-align: end;
}

.beige-btn {
    background-color: #FEE9C4;
}

.blank {
    background-color: #3B3E3D;
    width: 60px;
    aspect-ratio: 1/1;
}

.rec-btn {
    width: 96px;
    height: 60px;
}

#equals {
    background-color: #FEAF45;
}

.bg {
    background-color: #E7647A;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
